.project {

  &__list {

    .project__summary {
      background-color: #7d7cb3;
    }
  }

  &__summary {

    .card-content {
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
      transition: 0.2s ease-in-out;
      cursor: pointer;
      border-radius: 3px;
      padding: 0;

      .card-title {
        padding: 20px;
      }


      &:hover {
        transform: translateX(-20px);
      }
    }
  }
}