// body {
//   background-color: rgb(25, 17, 37);
// }

.group {
  max-width: 90%;
  margin: 0 auto;
}

.container {
  width: 80%;
}

.card {
  // border: 1px solid rgb(199, 197, 197);
  box-shadow: none;

  &-action {
    border-radius: 3px;
  }

}

.border-3 {
  border-radius: 3px;
}

.btn-floating {
  background-color: #7d7cb3;
}

.menu {
  display: flex;
  align-items: center;
  height: 64px;
}

.brand-logo {
  .large {
    font-size: 50px;
  }
}

.dashboard {
  margin-top: 100px;
}
